In [25]:
import numpy as np
from numpy import nan as NA
import pandas as pd
df = pd.DataFrame(np.random.randn(7,3))

In [26]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.027468     0.039137     0.033169     0.028863
std       0.969099     1.009164     0.982714     1.029169
min      -2.597987    -2.869436    -2.843390    -3.094462
25%      -0.648385    -0.619408    -0.616079    -0.670197
50%       0.045555     0.077358     0.040128     0.018073
75%       0.725099     0.706282     0.684630     0.727159
max       3.034517     3.105360     2.978953     3.124682

In [27]:
col = data[2]
col[np.abs(col) > 3]

Series([], Name: 2, dtype: float64)

In [28]:
col[889]

-0.016938638305889125

In [29]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
37   0.212015  0.621299 -0.443890 -3.094462
306 -0.896823  0.909194 -0.087515  3.124682
331  3.034517 -0.240085 -0.195844  0.969517
685 -0.458484  3.105360  0.106935 -0.442528

In [30]:
data[np.abs(data) > 3] = np.sign(data) * 3
data
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.027433     0.039032     0.033169     0.028833
std       0.968993     1.008849     0.982714     1.028518
min      -2.597987    -2.869436    -2.843390    -3.000000
25%      -0.648385    -0.619408    -0.616079    -0.670197
50%       0.045555     0.077358     0.040128     0.018073
75%       0.725099     0.706282     0.684630     0.727159
max       3.000000     3.000000     2.978953     3.000000

In [32]:
np.sign(data).head()

     0    1    2    3
0  1.0 -1.0  1.0  1.0
1 -1.0 -1.0 -1.0 -1.0
2 -1.0 -1.0 -1.0  1.0
3  1.0  1.0 -1.0 -1.0
4 -1.0  1.0  1.0 -1.0