In [2]:
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.randn(4, 3),columns = list("abc"), index = ["Karachi","Lahore","Faislabad","Multan"])

In [3]:
#print(frame)

                  a         b         c
Karachi   -0.166671  1.035879  0.756311
Lahore     0.613334 -0.597715 -0.963851
Faislabad  0.020499  0.678609  0.300342
Multan    -0.906746  1.228200  0.050291

In [16]:
print()
f = lambda x: x.max() - x.min()
df = frame.apply(f)
print(df)

a    1.520080
b    1.825916
c    1.720162
dtype: float64

In [ ]:
def min_max(x):
    maxi = x.max()
    mini = x.min()
    y = maxi - mini
    sr1 = pd.Series
    return

In [22]:
csv_pd = pd.read_csv("C:\\Users\\Hamza Khan\\Downloads\\examples\\examples\\sample.csv")

In [23]:
csv_pd

  studentid         name   chimestry   physics   english   math
0       A01     arif ali          20        30        40     50
1       A02  kamran khan          30        40        50     60
2       A03   imran ali           40        50        60     70
3       A04  kashif khan          50        60        70     80