In [1]:
import pandas as pd
import numpy as np

In [3]:
dataset = pd.read_csv("train.csv")
print("Shape of Data Set: ",dataset.shape)

Shape of Data Set:  (2000, 21)

In [6]:
print(dataset.columns.values)

['battery_power' 'blue' 'clock_speed' 'dual_sim' 'fc' 'four_g'
 'int_memory' 'm_dep' 'mobile_wt' 'n_cores' 'pc' 'px_height' 'px_width'
 'ram' 'sc_h' 'sc_w' 'talk_time' 'three_g' 'touch_screen' 'wifi'
 'price_range']

In [7]:
del dataset["battery_power"]

In [9]:
dataset.columns

Index(['blue', 'clock_speed', 'dual_sim', 'fc', 'four_g', 'int_memory',
       'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height', 'px_width', 'ram',
       'sc_h', 'sc_w', 'talk_time', 'three_g', 'touch_screen', 'wifi',
       'price_range'],
      dtype='object')

In [5]:
#no null value found
dataset.isna().sum().sum()

0

In [25]:
#no duplication found
dataset.duplicated().sum()

0

In [31]:
label1 = ["Slow","Average","Fast"]
category = [0.,1.,2.,3.]

In [35]:
dataset["SPEED"] = pd.cut(dataset["clock_speed"],labels = label1, bins = category,include_lowest = False)

In [42]:
print(dataset[["m_dep","SPEED","clock_speed"]])

      m_dep    SPEED  clock_speed
0       0.6     Fast          2.2
1       0.7     Slow          0.5
2       0.9     Slow          0.5
3       0.8     Fast          2.5
4       0.6  Average          1.2
5       0.7     Slow          0.5
6       0.8  Average          1.7
7       0.8     Slow          0.5
8       0.7     Slow          0.5
9       0.1     Slow          0.6
10      0.1     Fast          2.9
11      0.5     Fast          2.2
12      0.6     Fast          2.8
13      1.0     Fast          2.1
14      0.7     Slow          0.5
15      0.7     Slow          1.0
16      0.1     Slow          0.5
17      0.1     Slow          0.9
18      0.6     Slow          0.5
19      1.0     Slow          0.5
20      0.8  Average          1.1
21      1.0     Fast          2.1
22      0.3     Fast          2.6
23      0.7     Fast          2.8
24      0.4  Average          1.2
25      0.6  Average          1.4
26      0.3  Average          1.6
27      1.0     Slow          0.5
28      0.3  Average          1.6
29      0.4     Slow          0.5
...     ...      ...          ...
1970    0.6  Average          1.8
1971    0.3  Average          1.1
1972    0.8     Slow          0.8
1973    0.1     Fast          3.0
1974    0.3     Slow          0.5
1975    0.1     Slow          0.8
1976    1.0     Slow          0.5
1977    0.2  Average          1.1
1978    0.7     Fast          2.2
1979    0.1  Average          1.2
1980    0.9     Slow          1.0
1981    0.4     Fast          2.6
1982    0.4  Average          1.6
1983    0.1  Average          1.8
1984    0.9     Fast          2.2
1985    0.1     Fast          2.1
1986    0.5     Slow          0.9
1987    0.1     Slow          1.0
1988    0.4     Fast          2.9
1989    0.2     Fast          2.8
1990    0.8     Fast          2.4
1991    0.8  Average          2.0
1992    0.2     Fast          2.9
1993    0.6     Slow          0.5
1994    0.1     Fast          2.2
1995    0.8     Slow          0.5
1996    0.2     Fast          2.6
1997    0.7     Slow          0.9
1998    0.1     Slow          0.9
1999    0.9  Average          2.0

[2000 rows x 3 columns]

In [5]:
import numpy as np

In [60]:
frame = pd.Series(np.random.randn(10),index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd','a'],[1, 2, 3, 1, 3, 1, 2, 2, 3, 2]])

In [88]:
frame.sort_index(level = 0)

a  1    0.224493
   2   -0.430597
   2    1.618580
   3   -0.777311
b  1   -0.022326
   3    0.311383
c  1    0.201719
   2   -0.373877
d  2   -0.374731
   3    1.381235
dtype: float64

In [87]:
frame.swaplevel(0,1)

1  a    0.224493
2  a   -0.430597
3  a   -0.777311
1  b   -0.022326
3  b    0.311383
1  c    0.201719
2  c   -0.373877
   d   -0.374731
3  d    1.381235
2  a    1.618580
dtype: float64

In [35]:
data = pd.Series(np.random.randn(9),index=[['z', 'x', 'x', 'z', 'x', 'y', 'y', 'y', 'z'],[1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [36]:
print(data)

z  1    1.093951
x  2    0.567682
   3    0.345437
z  1    0.847997
x  3   -0.377956
y  1   -1.186843
   2    0.009533
   2    0.404395
z  3   -0.553146
dtype: float64

In [99]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],columns=[['Ohio', 'Ohio', 'Colorado'],['Green', 'Red', 'Green']])

In [100]:
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [101]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']

In [105]:
frame = frame.swaplevel(0, 1).sort_index(level=0)
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [103]:
frame.sum(level='key2')

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [104]:
frame.sum(level='color', axis=1)

color      Green  Red
key2 key1
1    a         2    1
     b        14    7
2    a         8    4
     b        20   10

In [3]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],'data2': range(3)})

In [4]:
print(df1)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [17]:
df1.index.intersection(df2)

Index([], dtype='object')

In [40]:
df1.index.isin(df2)

array([False, False, False, False, False, False, False])

In [51]:
#takes 1d array
pd.unique(df1["key"])

array(['b', 'a', 'c'], dtype=object)

In [52]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])

In [54]:
obj.reindex(['a', 'b', 'c', 'd', 'e'])

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [4]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [10]:
format = lambda x: '%.2f' % x

In [15]:
frame.applymap(format)

            b      d      e
Utah     0.83  -0.12  -1.01
Ohio    -1.42   0.91  -0.50
Texas   -0.20   1.00   0.60
Oregon   0.42  -1.66   1.78

In [22]:
frame["e"].apply(format)

Utah      -1.01
Ohio      -0.50
Texas      0.60
Oregon     1.78
Name: e, dtype: object

In [24]:
frame["e"].map(format)

Utah      -1.01
Ohio      -0.50
Texas      0.60
Oregon     1.78
Name: e, dtype: object

In [25]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])

In [28]:
obj.rank(ascending = False,method = "min" )

0    1.0
1    7.0
2    1.0
3    3.0
4    5.0
5    6.0
6    3.0
dtype: float64

In [12]:
dict={"k1":{"one":"Karachi","two":"Lahore","three":"Islamabad"},"k2":{"one":"London","two":"Manhattatn","three":"Neyyork"}}
a = pd.DataFrame(dict)

In [13]:
a

              k1          k2
one      Karachi      London
three  Islamabad     Neyyork
two       Lahore  Manhattatn