

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset Euro_2012_stats_TEAM

### Step 3. Assign it to a variable called euro12.

In [2]:
euro12 = pd.read_csv("Euro_2012_stats_TEAM.csv")

### Step 4. Select only the Goal column.

In [3]:
euro12["Goals"]

0      4.0
1      4.0
2      4.0
3      5.0
4      3.0
5     10.0
6      5.0
7      6.0
8      2.0
9      2.0
10     6.0
11     1.0
12     5.0
13    12.0
14     5.0
15     2.0
16     NaN
17     NaN
18     NaN
19     NaN
Name: Goals, dtype: float64

### Step 5. How many team participated in the Euro2012?

In [4]:
euro12["Team"]

0                                               Croatia
1                                        Czech Republic
2                                               Denmark
3                                               England
4                                                France
5                                               Germany
6                                                Greece
7                                                 Italy
8                                           Netherlands
9                                                Poland
10                                             Portugal
11                                  Republic of Ireland
12                                               Russia
13                                                Spain
14                                               Sweden
15                                              Ukraine
16                                                  NaN
17                                                  NaN
18                                                  NaN
19    https://towardsdatascience.com/data-handling-u...
Name: Team, dtype: object

### Step 6. What is the number of columns in the dataset?

In [5]:
length = len(euro12.columns)
print(f"Number of columns  in the dataset is {length}")

Number of columns  in the dataset is 35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [6]:
discipline = euro12[["Team","Yellow Cards","Red Cards"]]
print(discipline)

                                                 Team  Yellow Cards  Red Cards
0                                             Croatia           9.0        0.0
1                                      Czech Republic           7.0        0.0
2                                             Denmark           4.0        0.0
3                                             England           5.0        0.0
4                                              France           6.0        0.0
5                                             Germany           4.0        0.0
6                                              Greece           9.0        1.0
7                                               Italy          16.0        0.0
8                                         Netherlands           5.0        0.0
9                                              Poland           7.0        1.0
10                                           Portugal          12.0        0.0
11                                Republic of Ireland           6.0        1.0
12                                             Russia           6.0        0.0
13                                              Spain          11.0        0.0
14                                             Sweden           7.0        0.0
15                                            Ukraine           5.0        0.0
16                                                NaN           NaN        NaN
17                                                NaN           NaN        NaN
18                                                NaN           NaN        NaN
19  https://towardsdatascience.com/data-handling-u...           NaN        NaN

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [26]:
euro12["Red Cards"]

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     1.0
7     0.0
8     0.0
9     1.0
10    0.0
11    1.0
12    0.0
13    0.0
14    0.0
15    0.0
16    NaN
17    NaN
18    NaN
19    NaN
Name: Red Cards, dtype: float64

### Step 9. Calculate the mean Yellow Cards given per Team

In [8]:
euro12["Yellow Cards"].mean()

7.4375

### Step 10. Filter teams that scored more than 6 goals

In [44]:
for a in euro12["Goals"] > 6:
    print(a)

False
False
False
False
False
True
False
False
False
False
False
False
False
True
False
False
False
False
False
False

### Step 11. Select the teams that start with G

### Step 12. Select the first 7 columns

### Step 13. Select all columns except the last 3.

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

### Step 15. Use apply method on Goal Column to make a new column called Performance, using following conditions

1. If Goals are less than or equal to 2, peformance is **Below Avg**
2. If Goals are more than 2 and less than or equal to 5, peformance is **Average**
3. If Goals are more than 5 and less than or equal to 10, peformance is **Above Average**
4. If Goals are more than 10 then peformance is **Excellent**